<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168990602624-pmd1v5g899fvjj0civiqnpb5rhbb67qc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168990602624-pmd1v5g899fvjj0civiqnpb5rhbb67qc</string>
	<key>API_KEY</key>
	<string>AIzaSyDS8z6EBi2dbKPGD49wlCH8AeD3dZfKfYU</string>
	<key>GCM_SENDER_ID</key>
	<string>168990602624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.FirebaseApp</string>
	<key>PROJECT_ID</key>
	<string>reactnativeseasonthree</string>
	<key>STORAGE_BUCKET</key>
	<string>reactnativeseasonthree.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168990602624:ios:09f952290d78c65828bd65</string>
</dict>
</plist>